<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .message-list {
            width: 400px;
        }

        .message--sender {
            margin-left: auto;
            width: fit-content;
        }
    </style>
</head>
<body>
<div id="messages"></div>

<div id="app">

    <template v-if="!tokenActive">
        <input type="text" placeholder="token" v-model="token">
        <button @click="changeToken">Login</button>
    </template>
    <template v-else>

        <ul class="message-list">
            <li
                    v-for="(message, i) in messages"
                    :key="i"
                    class="message"
                    :class="{'message--sender' : message.sender_id !== userId}"
            >{{ message.text }}
            </li>
        </ul>


        <div
                class="chats"
                v-for="(chat, i) in chats"
                :key="i"
        >
            Юзер айди {{ chat.user_id }}
            Чат {{ chat.chat_id }}
            <textarea v-model="currentText"></textarea>
            <button @click="sendMessage(chat.chat_id)">Send</button>
        </div>
    </template>


</div>

<script type="module">
    import {io} from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js"
    import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.esm.browser.js'

    const app = new Vue({
        el: '#app',
        data() {
            return {
                currentText: '',
                message: 'Hello Vue!',
                chats: [],
                socket: null,
                token: '',
                tokenActive: false,
                messages: [],
                userId: 5
            }
        },
        methods: {
            sendMessage(chatId) {
                this.socket.emit('sendMessage', {
                    message: this.currentText,
                    chatId: chatId
                })
                this.currentText = ''
            },
            changeToken() {
                this.tokenActive = true
                const address = 'http://localhost:3001'
                const options = io({
                    auth: {
                        token: this.token
                    }
                })
                this.socket = io(address, options)
                const myHeaders = new Headers();
                myHeaders.append("Authorization", `Bearer ${this.token}`);

                const requestOptions = {
                    method: 'GET',
                    headers: myHeaders,
                    redirect: 'follow'
                };

                fetch("http://localhost:3001/chats", requestOptions)
                    .then(response => {
                        return response.json()
                    })
                    .then(result => {
                        this.chats = result
                    })
                    .catch(error => console.log('error', error));

                this.socket.on('getMessage', (data) => {
                    console.log(data)
                    this.messages.push(data)
                })
            }
        }
    })
</script>

</body>
</html>